/*!
 * shengbangshenghua
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow: hidden; }

body {
  background-color: #000; }

@keyframes cube {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes comsic1 {
  100% {
    transform: rotate(360deg); } }

@keyframes comsic2 {
  100% {
    transform: rotate(-360deg); } }

@keyframes comsic3 {
  100% {
    transform: rotate(360deg); } }

.comsic-cube {
  width: 700px;
  height: 700px;
  margin: auto;
  position: relative; }
  .comsic-cube .comsic, .comsic-cube .comsic1, .comsic-cube .comsic2, .comsic-cube .comsic3 {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px; }
  .comsic-cube .comsic1 {
    background-image: url("../img/s01.png");
    animation: comsic1 200s infinite linear; }
  .comsic-cube .comsic2 {
    background-image: url("../img/s02.png");
    animation: comsic2 100s infinite linear; }
  .comsic-cube .comsic3 {
    background-image: url("../img/s03.png");
    animation: comsic3 50s infinite linear; }
  .comsic-cube .cube {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: cube 10s infinite linear; }
    .comsic-cube .cube div {
      width: 80px;
      height: 80px;
      border: 3px solid #0c9c31;
      box-shadow: 0 0 80px #0c9c31;
      position: absolute;
      font-size: 42px;
      line-height: 80px;
      text-align: center;
      color: white;
      text-shadow: 0 0 20px #fff; }
      .comsic-cube .cube div:nth-of-type(1) {
        transform: translateY(-40px) rotateX(90deg); }
      .comsic-cube .cube div:nth-of-type(2) {
        transform: translateY(40px) rotateX(90deg); }
      .comsic-cube .cube div:nth-of-type(3) {
        transform: translateX(-40px) rotateY(90deg); }
      .comsic-cube .cube div:nth-of-type(4) {
        transform: translateX(40px) rotateY(90deg); }
      .comsic-cube .cube div:nth-of-type(5) {
        transform: translateZ(-40px); }
      .comsic-cube .cube div:nth-of-type(6) {
        transform: translateZ(40px); }
  .comsic-cube .text {
    color: #fff;
    margin:auto;
    width: 700px;
    height: 700px;
    position: relative;
  }
.comsic-cube .text div{
  position: absolute;
  background:url("../img/left.png") no-repeat left 10px,url("../img/right.png") no-repeat right top;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 12px;
  text-align:center;
  padding:10px;
  border-radius: 2px;
}
.comsic-cube .text div p{
  margin-bottom: 5px;
}
.comsic-cube .text div strong{
  margin-top:20px;
  display: block;
  font-size: 14px;
  font-weight:300;
}
.comsic-cube .text div:nth-of-type(1){
  top:30px;
  left:50%;
  margin-left: -64px;
  background:url("../img/left.png") no-repeat left bottom,url("../img/right.png") no-repeat right 80px;
  background-color: rgba(255, 255, 255, 0.15);
}
.comsic-cube .text div:nth-of-type(1)::after{
  content: ">";
  font-size: 52px;
  display: block;
  font-family: serif;
  transform: rotateZ(90deg);
  position: absolute;
  left: 56px;
  bottom: -39px;
}


.comsic-cube .text div:nth-of-type(2){
  right: 90px;
  top: 200px;
}
.comsic-cube .text div:nth-of-type(2)::after{
  content: "";
  width: 70px;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: -70px;
  top: 60px;
  transform: rotateZ(-30deg);
}
.comsic-cube .text div:nth-of-type(2) strong{
  margin-top: 0;
  margin-bottom: 20px;
}

.comsic-cube .text div:nth-of-type(3){
  right: 120px;
  bottom: 150px;
}
.comsic-cube .text div:nth-of-type(3) strong{
  margin-top: 0;
  margin-bottom: 20px;
}
.comsic-cube .text div:nth-of-type(3)::after{
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -17px;
  left: -65px;
  transform: rotateZ(30deg);
}

.comsic-cube .text div:nth-of-type(4){
  left: 45%;
  bottom: 100px;
}
.comsic-cube .text div:nth-of-type(4) strong{
  margin-top: 0;
  margin-bottom: 20px;
}
.comsic-cube .text div:nth-of-type(4)::after{
  content: "<";
  font-size: 52px;
  display: block;
  font-family: serif;
  transform: rotateZ(90deg);
  position: absolute;
  left: 15px;
  bottom: 80px;
}

.comsic-cube .text div:nth-of-type(5){
  left: 90px;
  top: 415px;
}
.comsic-cube .text div:nth-of-type(5)::after{
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 84px;
    top: -23px;
    transform: rotateZ(-41deg);
}
.comsic-cube .text div:nth-of-type(5) strong{
  margin-top: 0;
  margin-bottom: 20px;
}


.comsic-cube .text div:nth-of-type(6){
  left: 120px;
    top: 185px;
}
.comsic-cube .text div:nth-of-type(6) strong{
  margin-top: 0;
  margin-bottom: 20px;
}
.comsic-cube .text div:nth-of-type(6)::after{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 43px;
    left: 88px;
    transform: rotateZ(30deg);
}